table {
    width: 100%;
    border-collapse: collapse;
    border:none;
  
    th, td {
      padding: 8px;
      text-align: center;
      border:none;
    }
  /*
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }*/
    /*
    &:hover {
      tr {
        background-color: #ddd;
      }
    }*/
  
    
  }

  .player-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: center; /* Vertically center the grid items */
    justify-items: center; /* Horizontally center the grid items */
    border-bottom: 1px solid #eee;
    padding: 10px;
  }

  .lobby-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 2em 0px 2em;
  }

  img {
    max-width: 100px; // Cambia el tamaño máximo de la imagen según sea necesario
    height: auto;
    display: block;
  }

  .lobby-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .add-bot-button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-top: 10px; 
  }
  
  .add-bot-button:disabled {
    opacity: 0.5; 
    cursor: default; 
  }

  .delete-button {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px; 
  }
  
  .delete-button:hover {
    opacity: 0.8;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .start-game-button {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-left: 10px;
  }

  .exit-lobby-button {
    background-color: red; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    margin-left: 10px;
  }

  .start-game-button:disabled {
    background-color: #cccccc; /* Change background color for disabled state */
    color: #666666; /* Change text color for disabled state */
    cursor: not-allowed; /* Change cursor for disabled state */
  }

  .lobby-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }

  