//Application sizes

// Application colors

// Shades of gunmetal

$gunmetal-soft: #044962;
$gunmetal-medium: #033B4F;
$gunmetal-intense: #022B3A;

// Shades of teal

$teal-soft: #28A0B8;
$teal-medium: #2592A7;
$teal-intense: #1F7A8C;

// Shades of columbia

$columbia-blue-soft: #EDF5FD;
$columbia-blue-medium: #DBEBFB;
$columbia-blue-intense: #C8E0F9;

// Shades of lavender

$lavender-web-soft: #FFFFFF;
$lavender-web-medium: #F1F3F9;
$lavender-web-intense: #E1E5F2;

// Shades of white

$white-soft: #EBEBEB;
$white-medium: #F5F5F5;
$white-intense: #FFFFFF;

// Application fonts   

// Font stack for the body

$font-family-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';

// Font stack for the code

$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
