.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  .container > * {
    margin-bottom: 60px; /* Adjust the margin as needed */
  }
  
  .create-party-button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } 
  
  .join-party-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .join-party-input {
    width: 250px;
    height: 35px;
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
  }
  
  .join-party-button {
    font-size: 1.2em; /* Adjust as needed */
    padding: 10px 20px; /* Adjust as needed */
    margin: 10px; /* Adjust as needed */
    text-decoration: none;
    background-color: #007bff;
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 8px; /* Make the button slightly round */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  h1{
    margin-bottom: 20px;
    margin-top: 20px;
  }