.profile-header {
    font-size: 40px;
}

.profile-subheader {
    font-size: 25px;
}

.profile-picture {
    max-width: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px rgb(25, 118, 210) solid;
    margin-bottom: 30px;
}

.field {
    font-size: 18px;
    font-style: italic;
}

.white-list {
    li {
      color: white;
    }
}