.game-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-page-button {
  font-size: 1.5em; /* Adjust as needed */
  padding: 15px 30px; /* Adjust as needed */
  margin: 10px; /* Adjust as needed */
  text-decoration: none;
  background-color: #007bff;
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 8px; /* Make the button slightly round */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-page-button:hover {
  background-color: #0056b3; /* Adjust as needed */
}

.game-page-button a {
  color: inherit; /* Inherit the color from the button */
  text-decoration: none; /* Remove underline for Link */
}